.button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 8px 0px;
  background-color: transparent;
  color: white;
  font-weight: 700;

  @media (min-width: 550px) {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
